.container .header .logo {
    background-color: #0d3349;
    color: #FFFFFF;
    padding: 20px;
}

.container .header .top {
    background-color: #b58900;
    padding: 20px;
}

.container .body {
    margin-top: 20px;
}
.container .navigation .items {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

